<div class="popup" *ngIf="showPopup">
    <div class="popup-content">
        <button (click)="onClosePopup()" style="background-color: transparent ;border: none; margin-left: 550px;">
            <img src="..\assets\image\wrong.png" alt="wrong" style="width: 20px;"></button>
      <p class="text-1">Congratulations!</p>
      <p class="text-2" style="margin-bottom: 75px;">You earned a New Badge on 12 July, 2023</p>
      <div class="image-half">
        <img src="../assets/image/IconBackground.png" alt="Your Image">
        <div class="overlay">
          <img src="../assets/image/GreatPostLarge.png" alt="Nested Image">
        </div>
    </div>
    <hr style="margin-top: 75px; margin-left: 40px; margin-right: 50px;">
    <p class="text-1">Great Thread</p>
    <p class="text-2">Create a popular thread</p>
  </div>
  