<header class="header">
    <div class="logo">
      <img src="..\assets\image\EFARegisteredLogo - Copy.png" alt="Logo">
    </div>
    <div class="vertical-line"></div>
    <div class="search-bar">
       <img src="..\assets\image\search.png" alt="search-icon">
      <input type="text" placeholder="Search all forums">
    </div>
    <div class="topic-dropdown">
      <select>
        <option value="topic1">Topics</option>
        <option value="topic2">Topic 2</option>
      </select>
    </div>
    <div class="vertical-line"></div>
    <div class="latest-topic-menu">
        <div class="custom-select">
          <select>
            <option value="topic1">Tastest Topics</option>
            <option value="topic2">Topic 2</option>
          </select>
          <span class="custom-select-trigger">&#9776;</span>
        </div>
    </div>
    <div class="bell-icon-container">
        <img src="../assets/image/bell.png" alt="bell-icon">
        <span class="badge">6</span>
    </div>
      
    <div class="mail-dropdown">
      <div class="mail-icon">A</div>
      <select>
        <option value="topic1">azyrusmax</option>
        <option value="topic2">Topic 2</option>
      </select>
    </div>
  </header>

  <body>
    <form class="filter-form">
      <div class="category-dropdown">
        <select id="category" name="category">
          <option value="all">All Categories</option>
          <option value="category1">Blog</option>
          <option value="category2">About</option>
          <option value="category">Store</option>
          <option value="category">Mobile App</option>
          <option value="category">Developer Api</option>
          <option value="category">Advatice</option>
          <option value="category">Need Help</option>
          <option value="category"></option>
          <option value="category">Q&As</option>
        </select>
      </div>
      
      <div class="tags-dropdown">
        <select id="tags" name="tags">
          <option value="all">All Tags</option>
          <option value="tag1">Tag 1</option>
          <option value="tag2">Tag 2</option>
        </select>
      </div>
      <div class="filters-text">
        <a href="/Home">Lates</a>
        <a href="">Unread</a>
        <a href="">Rising</a>
        <a href="">Most Liked</a>
        <a href="">Follow Feed</a>
      </div>
    </form>
    <hr class="under-1">
    <form class="filter-form">
        <div style="margin-left: 290px;">
            <div>
                <p style="font-size: 24px; font-family: sans-serif; font-weight: lighter;">
                    What are your best tips on how to deal with fear of abandonment?</p>
            </div>
            <div class="container">
            <div class="category" >
                <div class="mail-icon-2" style="background-color: #097fad;margin-left: 10px;"></div>
                <div>
                <p>Mind</p></div>
            </div>
            <div class="color-box">
                <p style="background-color: skyblue; padding: 2px; margin-right: 10px;">hope</p>
                <p style="background-color: red; padding: 2px; margin-right: 10px;">help</p>
            </div>
            <div class="date-label" style="margin-left: 1090px; padding-top: 50px;font-size: 14px;">June 23</div>
            </div>
            <div class="form-container">
                <form class="child-form">
                    <div class="person-details">
                    <div class="name-1">
                        <div class="mail-icons-container-1">
                            <div class="mail-icon-1" style="background-color: #186908;">B</div>
                            <div style="font-size: 20px;">Benjamin Caesar</div>
                        </div>
                        <br>
                        <div>
                            <p style="font-size: 16px;margin-top: 20px; padding-left: 50px; margin-bottom: 30px; color: grey;">If you have any specific suggestions, concerns, or areas you think we could enhance, please let us know. Making excellent listeners is our hoping mechanism
                                Show us you've got the rare gift of being a listener to someone in need.</p>
                        </div>
                        <div class="rec-box"></div>
                        <hr style="margin-left: 50px;font-weight: lighter;margin-right: 50px;">
                        <div class="container-1" style="margin-left: 50px; margin-top: 20px;">
                            <p class="text-with-image">
                              <img src="..\assets\image\UP.png" alt="Up" style="width: 20px; height: 30px;">
                              <span style="font-size: 16px; margin-left: 20px; margin-right: 20px;" >201</span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\down.png" alt="Up" style="width: 20px; height: 30px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" >08</span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\lv.png" alt="Up" style="width: 20px; height: 30px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" >201</span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\bkm.png" alt="Up" style="width: 20px; height: 30px; margin-left: 650px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" ></span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\shr.png" alt="Up" style="width: 20px; height: 30px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" ></span>
                            </p>
                            
                        </div>

                        <div class="mail-icons-container-1" style="margin-top: 40px;">
                            <div class="mail-icon-1" style="background-color: #186908;">B</div>
                            <div style="font-size: 20px;">Benjamin Caesar</div>
                        </div>
                        <br>
                        <div>
                            <p style="font-size: 16px;margin-top: 20px; padding-left: 50px; margin-bottom: 30px; color: grey;">If you have any specific suggestions, concerns, or areas you think we could enhance, please let us know. Making excellent listeners is our hoping mechanism
                                Show us you've got the rare gift of being a listener to someone in need.</p>
                        </div>
                        <div class="rec-box"></div>
                        <hr style="margin-left: 50px;font-weight: lighter;margin-right: 50px;">
                        <div class="container-1" style="margin-left: 50px; margin-top: 20px;">
                            <p class="text-with-image">
                              <img src="..\assets\image\UP.png" alt="Up" style="width: 20px; height: 30px;">
                              <span style="font-size: 16px; margin-left: 20px; margin-right: 20px;" >201</span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\down.png" alt="Up" style="width: 20px; height: 30px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" >08</span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\lv.png" alt="Up" style="width: 20px; height: 30px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" >201</span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\bkm.png" alt="Up" style="width: 20px; height: 30px; margin-left: 650px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" ></span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\shr.png" alt="Up" style="width: 20px; height: 30px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" ></span>
                            </p>
                        </div>
                        <div class="mail-icons-container-1" style="margin-top: 40px;">
                            <div class="mail-icon-1" style="background-color: #186908;">B</div>
                            <div style="font-size: 20px;">Benjamin Caesar</div>
                        </div>
                        <br>
                        <div>
                            <p style="font-size: 16px;margin-top: 20px; padding-left: 50px; margin-bottom: 30px; color: grey;">If you have any specific suggestions, concerns, or areas you think we could enhance, please let us know. Making excellent listeners is our hoping mechanism
                                Show us you've got the rare gift of being a listener to someone in need.</p>
                        </div>
                        <div class="rec-box"></div>
                        <hr style="margin-left: 50px;font-weight: lighter;margin-right: 50px;">
                        <div class="container-1" style="margin-left: 50px; margin-top: 20px;">
                            <p class="text-with-image">
                              <img src="..\assets\image\UP.png" alt="Up" style="width: 20px; height: 30px;">
                              <span style="font-size: 16px; margin-left: 20px; margin-right: 20px;" >201</span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\down.png" alt="Up" style="width: 20px; height: 30px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" >08</span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\lv.png" alt="Up" style="width: 20px; height: 30px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" >201</span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\bkm.png" alt="Up" style="width: 20px; height: 30px; margin-left: 650px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" ></span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\shr.png" alt="Up" style="width: 20px; height: 30px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" ></span>
                            </p>
                            
                        </div>
                        <div class="mail-icons-container-1" style="margin-top: 40px;">
                            <div class="mail-icon-1" style="background-color: #186908;">B</div>
                            <div style="font-size: 20px;">Benjamin Caesar</div>
                        </div>
                        <br>
                        <div>
                            <p style="font-size: 16px;margin-top: 20px; padding-left: 50px; margin-bottom: 30px; color: grey;">If you have any specific suggestions, concerns, or areas you think we could enhance, please let us know. Making excellent listeners is our hoping mechanism
                                Show us you've got the rare gift of being a listener to someone in need.</p>
                        </div>
                        <div class="rec-box"></div>
                        <hr style="margin-left: 50px;font-weight: lighter;margin-right: 50px;">
                        <div class="container-1" style="margin-left: 50px; margin-top: 20px;">
                            <p class="text-with-image">
                              <img src="..\assets\image\UP.png" alt="Up" style="width: 20px; height: 30px;">
                              <span style="font-size: 16px; margin-left: 20px; margin-right: 20px;" >201</span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\down.png" alt="Up" style="width: 20px; height: 30px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" >08</span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\lv.png" alt="Up" style="width: 20px; height: 30px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" >201</span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\bkm.png" alt="Up" style="width: 20px; height: 30px; margin-left: 650px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" ></span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\shr.png" alt="Up" style="width: 20px; height: 30px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" ></span>
                            </p>
                            
                        </div>
                        <div class="mail-icons-container-1" style="margin-top: 40px;">
                            <div class="mail-icon-1" style="background-color: #186908;">B</div>
                            <div style="font-size: 20px;">Benjamin Caesar</div>
                        </div>
                        <br>
                        <div>
                            <p style="font-size: 16px;margin-top: 20px; padding-left: 50px; margin-bottom: 30px; color: grey;">If you have any specific suggestions, concerns, or areas you think we could enhance, please let us know. Making excellent listeners is our hoping mechanism
                                Show us you've got the rare gift of being a listener to someone in need.</p>
                        </div>
                        <div class="rec-box"></div>
                        <hr style="margin-left: 50px;font-weight: lighter;margin-right: 50px;">
                        <div class="container-1" style="margin-left: 50px; margin-top: 20px;">
                            <p class="text-with-image">
                              <img src="..\assets\image\UP.png" alt="Up" style="width: 20px; height: 30px;">
                              <span style="font-size: 16px; margin-left: 20px; margin-right: 20px;" >201</span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\down.png" alt="Up" style="width: 20px; height: 30px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" >08</span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\lv.png" alt="Up" style="width: 20px; height: 30px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" >201</span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\bkm.png" alt="Up" style="width: 20px; height: 30px; margin-left: 650px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" ></span>
                            </p>
                            <p class="text-with-image">
                                <img src="..\assets\image\shr.png" alt="Up" style="width: 20px; height: 30px;">
                                <span style="font-size: 16px;margin-left:20px; margin-right: 20px;" ></span>
                            </p>
                            
                        </div>
                    </div>
                    </div>

                </form>
              </div>
              <div class="image-container" style="margin-top: 380px;">
                <button (click)="showImage1Popup()" style="border: 1px solid transparent; background-color: aliceblue;">
                  <img src="..\assets\image\circle.png" alt="Image 1" style="width: 20px; height: 20px; border: 1px solid transparent; padding: 10px; background-color: rgba(128, 128, 128, 0.582); margin-right: 20px;">
                </button>
                <button style="border: 1px solid transparent; background-color: aliceblue; margin-left: -10px;">
                  <img src="..\assets\image\shr.png" alt="Image 1" style="width: 30px; height: 20px; border: 1px solid transparent; padding: 10px; background-color: orange; margin-right: 20px;">
                </button>
              </div>
              
              <app-popup [showPopup]="isImage1PopupVisible" (closePopup)="closeImage1Popup()"></app-popup>
              
        </div>
    </form>
 